{
  "CaseCode": "On",
  "DevelopmentFolders": [
    "Assets/Development/",
    "APLSource/APLTreeUtils-8f.apln",
    "APLSource/Admin-1/",
    "APLSource/DemoApp-11/",
    "APLSource/Doc-1/",
    "APLSource/TestReverseProxy-811/",
    "APLSource/TestServer-11/",
    "APLSource/Tests-1/",
    "APLSource/TestAsService-51/"
  ],
  "KeepHistory": "Off",
  "ProjectSpace": "#.CarlisleGroup.Rumba",
  "StartUp": "",
  "URL": "https://github.com/the-carlisle-group/Rumba",
  "Version": "0.1.5"
}
