{
  "API": "Core",
  "CaseCode": "On",
  "DevelopmentFolders": [
    "Assets/Development/",
    "Assets/Runtime/AdminResources/",
    "Assets/Runtime/Help/",
    "Assets/Runtime/TestCertificates/",
    "Make/"
  ],
  "DevelopmentSpaces": [
    "APLTreeUtils",
    "Admin",
    "DemoApp",
    "Doc",
    "TestReverseProxy",
    "TestServer",
    "Tests",
    "TestAsService"
  ],
  "KeepHistory": "Off",
  "StartUp": "Admin.QuadLX 0",
  "URL": "https://github.com/the-carlisle-group/Rumba",
  "Version": "0.1.13"
}
