:Namespace
    CaseCode←'On'
    KeepHistory←'Off'    
    GitHubAccount←'the-carlisle-group'
    Open←'AcreTools'
    ProjectSpace←'#.CarlisleGroup.Rumba'    
    DevelopmentSpaces←'APLTreeUtils' 'Admin' 'DemoApp' 'Doc' 'TestAsService' 'TestReverseProxy' 'TestServer' 'Tests'
    StartUp←''
    Version←'1.0.0'
:EndNamespace
